.container {
  min-height: 70vh;
  padding: 70px 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    330deg,
    rgb(245, 244, 244) 60%,
    rgba(246, 247, 251, 1) 60%
  );
}
.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form {
    width: 30%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    font-family: Playfair;
    border-radius: 5px;
  }

.btn_container, .link_container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  border: 2px rgba(6, 107, 217, 1) solid;
  color: rgba(6, 107, 217, 1);
  background: white;
  cursor: pointer;
  transition: all 0.8s ease;
}

.btn:hover{
    background: rgba(6, 107, 217, 1);
    color: white;
}


.btn2{
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background: rgb(248, 54, 54);
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .form {
        width: 60%;
      }
}


@media screen and (max-width: 400px){
    .form {
        width: 80%;
      }
}

