
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    min-height: 150px;
    margin: 0 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 1s ease ;
    background: white;
}

.container h3{
    font-size: 15px;
    font-family: Martel;
    padding-top: 20px;
}

.container p{
    font-family: Playfair;
    color: rgb(77, 77, 77);
}

.span{
    color: rgb(85, 39, 39)
}

@media screen and (max-width: 750px) {
    .container{
        margin-bottom: 15px;
    }
    .container p{
        padding-bottom: 10px;
    }
}